<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">    
        <main>
            <nav class="navbar">
                <img src="/images/27938363 (1).jpg" class="logo">
                <a class="navbartext" href="/levels">Levels</a>
                <b class="navbartext">Leaderboards</b>
                <b class="navbartext">Contacts</b>
                <img src="/images/login.png" class="navicons">
                <img src="/images/darkmode.png" class="navicons">
            </nav>
            <div class="infoboards">
                <div class="infoboard">
                    <h1 id="text1">Learn to type</h1>
                    <h1 id="text1">like a pro</h1>
                    <h3 id="text2">Type without sight,</h3>
                    <h3 id="text2">with your typing might</h3>
                </div>
                <div class="infoboard">
                    <h1>What is TypeAce?</h1>
                    <h3 id="text3">TypeAce is an online service designed to help people learn blind typing, which is the ability
                        to type without looking at the keyboard. The service offers a range of typing exercises and games that
                        are designed to improve typing speed and accuracy, as well as a variety of lessons that cover the basics
                        of touch typing. TypeAce also provides real-time feedback on typing performance, including metrics like
                        words per minute and accuracy rate, which can help users track their progress over time. With its
                        user-friendly interface and engaging content, TypeAce is a great resource for anyone looking to improve
                        their typing skills, whether for personal or professional reasons.</h3>
                    <button id="getstarted">Get started</button>
                </div>
                <div class="infoboard" id="third">
                    <h1 id="thirdtitletext">Create an account to...</h1>
                    <div class="infoboard3tile">
                        <img src="/images/save.png" id="thirdimage">
                        <h3 id="thirdtext">Save your progress</h3>
                    </div>
                    <div class="infoboard3tile">
                        <img src="/images/leaerboard.png" id="thirdimage">
                        <h3 id="thirdtext">Participate in leaderboards</h3>
                    </div>
                    <div class="infoboard3tile">
                        <img src="/images/monitoring.png" id="thirdimage">
                        <h3 id="thirdtext">Track your progress</h3>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <b id="footertext">©TetraGames Team, 2023</b>
        </footer>
    </div>

</body>


</html>